<mat-card class="section-layout section-inner content">
    <mat-card-title class="card-title">
      About
    </mat-card-title>
    <mat-card-content class="card-title" id="joke">
      (Aboot for Canadians :D)
    </mat-card-content>

    <mat-card-subtitle class="card-subtitle">
      What is the purpose of this website?
    </mat-card-subtitle>
    <mat-card-content>
      This website is about exactly what the title says. Programming and gains, a combination of my two favorite things. Why
      make this? Well, why not.<br/><br/>

      Let's make some cool applications and get swole.<br/><br/>
    </mat-card-content>

    <mat-card-subtitle class="card-subtitle">
      What you can expect here:
    </mat-card-subtitle>
    <mat-card-content>
      Mostly blog articles and videos about web and mobile programming, with some full stack in the background to make those
      applications run. I will also talk about tooling that I find interesting to increase productivity and flow. <br/><br/>

      There will also be a fair bit about health and fitness, as well as overall well-being. Just because you are a nerd
      doesn't mean you need to be an out of shape nerd. I want to help you make some gains in and out of the gym. I will
      keeping making gains in the meantime to show you how it's done.<br/><br/>

      I also plan to review and talk about content that is useful to helping people grow. This can include books, Podcasts,
      videos, articles, etc.<br/><br/>
    </mat-card-content>

    <mat-card-subtitle class="card-subtitle">
      A little background:
    </mat-card-subtitle>
    <mat-card-content>
      I am a 34 year old that lives in Denver Colorado. I joined the Air Force at 28 to pay for college and graduated with a
      Computer Science degree 4 years later. I am a Software Engineer I with only about 1 year of work experience.
      Doing these things at these ages made me considerably older than what is considered the norm.<br/><br/>

      That is worst excuse possible not to do something.<br/><br/>

      I know I am less experienced than most programming blogs, but I am not too bad and believe I have some good
      information to offer. We'll let the content speak for itself. I have a passion to keep expanding my skills rapidly.
      Overtime, and through this blog I believe we can learn a lot and get huge.<br/><br/>

      Besides the programming part, I have valuable information that other programmers do not. I am fitter and strong than
      the vast majority, and I can teach people how to do the same very easily.<br/><br/>
    </mat-card-content>

    <mat-card-subtitle class="card-subtitle">
      Technologies I'm working with and/or know:
    </mat-card-subtitle>
    <mat-card-content>
      For now I will have a heavy focus on web programming, mostly using the Angular framework with Material Design
      components. I will plan to dive into mobile applications using Google's Flutter for hybrid apps. While native is nice,
      I am making everything myself and do not feel like doing it twice. Frameworks like React are interesting, but Flutter
      makes more sense for me because it is closer to Angular. Angular may also be nice as mobile web apps become more
      popular.<br/><br/>

      I will also do some Java and SQL on the backend to make these function.<br/><br/>
    </mat-card-content>

    <mat-card-subtitle class="card-subtitle">
      What I want to learn in the future:
    </mat-card-subtitle>
    <mat-card-content>
      I don't want to be boxed into the just web frameworks. I believe the future will be mobile. It already is. Even though
      you are a computer nerd and always use a desktop or laptop, think about how many people you know who do all of their
      computing on their phones and tablets.<br/><br/>

      I also have an interest in things that will help power that like deep learning, voice recognition, AI, etc.<br/><br/>
    </mat-card-content>

    <mat-card-subtitle class="card-subtitle">
      Contact:
    </mat-card-subtitle>
    <mat-card-content>
      Email: <a href="mailto:mikec@programmergains.com">mikec@programmergains.com</a><br/>
    </mat-card-content>
</mat-card>
