<!-- header -->
<mat-card class="section-layout section-inner header-card">
  <mat-card-header>
    <a id="header-title"
       [routerLink]="['/']">Programmer<br/>Gains</a>
  </mat-card-header>
  <a class="github-anchor" href="https://github.com/programmergains" target="_blank">
    <img id="github-icon" src="../../assets/icons/GitHub.png" alt="GitHub">
    <img id="github-text" src="../../assets/icons/GitHub_text.png" alt="GitHub">
  </a>
</mat-card>

<!-- subjects -->
<mat-toolbar class="mat-toolbar-subject">
  <div class="subject-div section-layout section-inner">
    <div class="navigation-div">
      <button mat-button
              [routerLink]="['posts']">Posts</button> |
      <button mat-button
              [routerLink]="['reviews']">Reviews</button> |
      <button mat-button
              [routerLink]="['videos']">Videos</button> |
      <button mat-button
              [routerLink]="['about']">About</button>
    </div>
  </div>
</mat-toolbar>

<!-- body -->
<router-outlet></router-outlet>

<!-- TODO - Move social icons from bottom of page to the right of main mat-card -->
<!-- footer -->
<footer>
<mat-toolbar class="mat-toolbar-footer">
  <div class="section-layout section-inner social-icon-row">
    <a class="social-anchor"
       href="https://www.youtube.com/channel/UCH4Ld7C3vHsG6k5I89q539Q?guided_help_flow=3&disable_polymer=true"
       target="_blank">
      <img class="social-icon" src="../../../assets/icons/YouTube.png" alt="YouTube">
    </a>
    <a class="social-anchor"
       href="https://www.instagram.com/programmergains/"
       target="_blank">
      <img class="social-icon" src="../../../assets/icons/Instagram.png" alt="Instagram">
    </a>
    <a class="social-anchor"
       href="https://twitter.com/ProgrammerGains"
       target="_blank">
      <img class="social-icon" src="../../../assets/icons/Twitter.png" alt="Twitter">
    </a>
    <a class="social-anchor"
       href="https://www.facebook.com/ProgrammerGains-1185627728240828/"
       target="_blank">
      <img class="social-icon" src="../../../assets/icons/Facebook.png" alt="Facebook">
    </a>
  </div>
</mat-toolbar>
</footer>
