<mat-card class="section-layout section-inner">
  <mat-form-field id="title-search-input">
    <input matInput
           placeholder="Search posts"
           (keyup)="applyFilter($event.target.value)">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort id="posts-table">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row" class="td-post-list">
        <div (click)="onPostClick(row.title_link)" class="post-div">
        <mat-card-title class="card-title">
          {{ row.title_display }}
        </mat-card-title>

        <mat-card-subtitle class="card-subtitle-data">
          {{ row.date | date }}
        </mat-card-subtitle>

        <mat-card-content *ngIf="row.caption">
          {{ row.caption }}
        </mat-card-content>
        </div>
      </td>
    </ng-container>

    <!-- Thumbnail Column -->
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let row" class="td-post-list">
        <!-- TODO Insert YouTube thumbnail link -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</mat-card>
